<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Homepage</h1>
    
    <h2><%= title %></h2>
    <button><a href="/new">Send a message</a></button>
    <ul>
      <% messages.forEach((user) => { %>
        <li><h2><%- user.message %></h2>
          <p>From: <%- user.sender %></p>
          <p>Added: <%- user.dateAdded %></p>
          <button><a href="/details?id=<%- user.id %>">Details</a></button></li>
      <% }); %>
    </ul>
  </body>
</html>

